#tab{
	margin:0 auto;
}

h1{
color:#4CAF50;
text-align:center;
font-weight:bold
}

.button {
    background-color: #4CAF50; /* Green */
    border: 1px solid  #4CAF50;
    border-radius:5%;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 27px;
    font-weight:bold;
    margin: 4px 2px;
    cursor: pointer;
    padding: 32px 32px;

}
